// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$border-radius: 3px;
$input-bg: white;

$success: #198754;
$danger: #dc3545;
$primary: #0d6efd;
$secondary: #6c757d;

$input-btn-focus-width: 1px;